.my-carousel {
    height: 400px;
    overflow: hidden;
  }

  .my-carousel img {
    width: 50%;
    height: 400px; 
    object-fit: cover;
  }
  
img #carousel-cover {
  object-fit: contain !important;
  align-self: flex-start;
}